[Unit]
Description=Sotolito VPS %i
After=network.target
 
[Service]
Slice=machine.slice
Delegate=true
CPUWeight=100
MemoryLimit=512M
#TimeoutSec=300
EnvironmentFile=/etc/systemd/system/sotolito-vps.target.wants/%i.cfg
ExecStart=/home/vservers/OCI-Image-Bundles/utils/sotolito-vps/vpsctl start %i
ExecStop=/home/vservers/OCI-Image-Bundles/utils/sotolito-vps/vpsctl stop %i 
KillMode=mixed
Restart=always
RestartSec=10s
 
[Install]
WantedBy=multi-user.target
